<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>B8-CINEMA</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/ticketstyle.css}">
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<a th:href="@{/Cinema.html}" class="navbar-brand">B8-CINEMA</a>
	<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarMenu">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a th:href="@{/login}" data-toggle="tooltip" title="Login" class="nav-link"><i class="fas fa-user"></i> <span class="sr-only">LOGIN</span></a>
			</li>
			<li class="nav-item">
				<a th:href="@{/registration}" class="nav-link">SIGN UP</a>
			</li>
		</ul>
	</div>
</nav>
	<div class="container my-container">
	<br><br>
		<ul class = "movie-details">
		  <li class= "list-items"><b>MOVIE:</b> <p th:text="${movie.title}"></p></li>
		  <li class= "list-items"><b>SHOW DATE:</b> <p th:text="${show.date}"></p></li>
		  <li class= "list-items"><b>SHOW TIME:</b> <p th:text="${show.time + ':00 pm'}"></p></li>
		</ul>
		<table>
		<br>
			<tr class="tickets">
				<th colspan="2">ADD TICKETS<hr></th>
			</tr>
			<tr>
				<td class="ageBasedticket">SENIOR TICKET ($10)</td>
				<td>
<!--					<div class="wrapper">-->
						<input type="number" placeholder="0" id="Senior" value="0">
<!--						<span class="minus">-</span>-->
<!--						<span class="number">00</span>-->
<!--						<span class="plus">+</span>-->
<!--					</div>-->
				</td>
			</tr>
			<tr>
				<td class="ageBasedticket">ADULT TICKET $(12)</td>
				<td>
					<input type="number" placeholder="0" id="Adult" value="0">
				</td>
			</tr>
			<tr>
				<td class="ageBasedticket">CHILD TICKET $(7)</td>
				<td>
					<input type="number" placeholder="0" id="Child" value="0">
				</td>
			</tr>
		</table>
	</div>
	<div class="container-fluid my-container">
		<br><hr><br>
	</div>
	<div class="seatSection">
		<!-- <div class="movie-container">
			<label>Pick a movie:</label>
			<select id="movie">
				<option value="10">Avengers: Endgame ($10)</option>
				<option value="12">Joker ($12)</option>
				<option value="8">Toy Story 4 ($8)</option>
				<option value="9">The Lion King ($9)</option>
			</select>
		</div> -->
		<table><tr><th class = "seatTitle">SELECT SEATS<hr></th></tr></table>
		<ul class="showcase">
			<li>
				<div class="seat"></div>
				<small>N/A</small>
			</li>
			<li>
				<div class="seat selected"></div>
				<small>Selected</small>
			</li>
			<li>
				<div class="seat occupied"></div>
				<small>Occupied</small>
			</li>
		</ul>

		<div class="seatcontainer">
			<div class="screen"></div>

			<div class="row">
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
			</div>
			<div class="row">
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat occupied"></div>
				<div class="seat occupied"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
			</div>
			<div class="row">
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat occupied"></div>
				<div class="seat occupied"></div>
			</div>
			<div class="row">
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
			</div>
			<div class="row">
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat occupied"></div>
				<div class="seat occupied"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
			</div>
			<div class="row">
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat"></div>
				<div class="seat occupied"></div>
				<div class="seat occupied"></div>
				<div class="seat occupied"></div>
				<div class="seat"></div>
			</div>
		</div>

		<p class="text">
			You have selected <span id="count">0</span> seats for a price of $<span id="total">0</span>
		</p>
		<br>
		<div>
			<button class = "submitButton" style="float:left; margin-right: 3px"><a style = "text-decoration: none; color: white;" th:href="@{/login}">You must login to book</a></button>
			<button class = "submitButton" style="float:right; margin-left: 3px"><a style = "text-decoration: none; color: white;" th:href="@{'/descriptions/'+${movie.movieID}}">BACK</a></button>
		</div>
	</div>
	<div class="container-fluid my-container">
		<br><hr><br>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	 <script th:src="@{/static/js/myScript.js}"></script>
	<!-- <script>
			const plus = document.querySelector(".plus"),
			minus = document.querySelector(".minus"),
			num = document.querySelector(".num"),
			let a = 1;
			plus.addEventListener("click", ()function{
				a++;
				a = (a<10)?"0"+a:a;
				num.innerText = a;
			});
			
			minus.addEventListener("click", ()function{
				if(a>1){
					a--;
					a = (a<10)?"0"+a:a;
					num.innerText = a;
				}
			});
		</script> -->

</body>

</html>