<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>B8-CINEMA</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
		<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
		<link rel="stylesheet" type= "text/css" th:href="@{/static/css/adminStyle.css}">
	</head>
	
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a th:href="@{/admin/adminPage}" class="navbar-brand">B8-CINEMA</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarMenu">
				<form class="form-inline ml-lg-5">
					<input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button>
				</form>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a th:href="@{/admin/users}" class="nav-link" style = "margin-left: 35px">USERS</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/admin/manageMovies}" class="nav-link">MANAGE MOVIES</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/admin/promotions}" class="nav-link">PROMOTIONS</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="#" class="nav-link">ADMIN ACCOUNT</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/logout}" class="nav-link">LOGOUT</a>
					</li>
				</ul>
			</div>         
		</nav>
		<div class="container-fluid my-container admin">
		<br><hr><br>
<!--		<div class="container-fluid my-container" >-->
			<div >
				<div class="row my-row justify-content-between">
					<div class="col-md-2 my-col" th:each="movie : ${onmovies}">
						<a th:href="@{'/admin/descriptions/'+${movie.movieID}}">
							<img class = "zoom" width="200px" height="300px" th:src="${movie.movieImage}" th:alt="${movie.title}">
						</a>
					</div>
				</div>
				<div class="row justify-content-between">
					<div class="col-md-2 my-col " th:each="movie : ${onmovies}">
						<div class = "poster-title" th:text="${movie.title}"></div>
						<div class="buttonDiv">
							<button class="trailerbutton posterbutton"><a th:href="${movie.trailerVideo}" target="_blank" style = "text-decoration: none; color:  white;">TRAILER</a></button>
	<!--						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color:  white;">BOOK NOW</a></button>-->
						</div>
					</div>
				</div>
			</div>
			<br>
<!--		</div>-->
		<br><hr><br>
		<h2 class="header">COMING SOON...</h2>
		<br><hr><br>
		<div class="container-fluid my-container" th:each="movie : ${csmovies}">
			<div class="row my-row  justify-content-between">
				<div class="col-md-2 my-col">
					<a th:href="@{'/admin/descriptions/'+${movie.movieID}}">
						<img class = "zoom" width="200px" height="300px" th:src="${movie.movieImage}" th:alt="${movie.title}">
					</a>
				</div>
			</div>
			<div class="row justify-content-between">
				<div class="col-md-2 my-col">
					<div class = "poster-title" th:text="${movie.title}"></div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a th:href="${movie.trailerVideo}" target="_blank" style = "text-decoration: none; color: white;">TRAILER</a></button>
						<button class="booknowbutton posterbutton"><a th:href="@{'/admin/descriptions/'+${movie.movieID}}" style = "text-decoration: none; color: white;">MORE INFO</a></button>
					</div>
				</div>
			</div>
		</div>
			<br>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
		<script th:src="@{/static/js/myScript.js}"></script>
			</div>
	</body>
</html>