<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>B8-CINEMA</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
		<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
		<link rel="stylesheet" type= "text/css" th:href="@{assets/css/adminStyle.css}">
	</head>
	
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a th:href="@{/admin/adminPage}" class="navbar-brand">B8-CINEMA</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarMenu">
				<form class="form-inline ml-lg-5">
					<input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button>
				</form>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a th:href="@{userpage.html}" class="nav-link" style = "margin-left: 35px">USERS</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/admin/manageMovies}" class="nav-link">MANAGE MOVIES</a>
					</li>
					<li class="nav-item">
						<a th:href="@{promotions.html}" class="nav-link">PROMOTIONS</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="#" class="nav-link">ADMIN ACCOUNT</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/logout}" class="nav-link">LOGOUT</a>
					</li>
				</ul>
			</div>         
		</nav>
		<div class="container-fluid my-container admin">
		<br><hr><br>
		<div class="container-fluid my-container">
			<div class="row my-row justify-content-between">
				<div class="col-md-2 my-col">
					<a href="descriptions/uncharted_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/uncharted_poster.jpg" alt="UNCHARTED">
					</a>
				</div>
				<div class="col-md-2 my-col">
					<a href="descriptions/brave_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/brave_poster.jpg" alt="BRAVE">
					</a>
				</div>
				<div class="col-md-2 my-col">
					<a href="descriptions/batman_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/batman_poster.jpg" alt="THE BATMAN: UNMASK THE TRUTH">
					</a>
				</div>
				<div class="col-md-2 my-col">
					<a href="descriptions/nowayhome_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/nowayhome_poster.jpg" alt="SPIDER MAN: NO WAY HOME">
					</a>
				</div>
				<div class="col-md-2 my-col">
					<a href="descriptions/joker_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/joker_poster.jpg" alt="JOKER">
					</a>
				</div>
			</div>
			<div class="row justify-content-between">
				<div class="col-md-2 my-col ">
					<div class = "poster-title">UNCHARTED</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/eHp3MbsCbMg" target="_blank" style = "text-decoration: none; color:  white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color:  white;">BOOK NOW</a></button>
					</div>
				</div>
				<div class="col-md-2 my-col">
					<div class = "poster-title">BRAVE</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/TEHWDA_6e3M" target="_blank" style = "text-decoration: none; color:  white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color: white;">BOOK NOW</a></button>
					</div>
				</div>
				<div class="col-md-2 my-col">
					<div class = "poster-title">THE BATMAN: UNMASK THE TRUTH</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/mqqft2x_Aa4" target="_blank" style = "text-decoration: none; color: white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color: white;">BOOK NOW</a></button>
					</div>
				</div>
				<div class="col-md-2 my-col">
					<div class = "poster-title">SPIDER MAN: NO WAY HOME</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/JfVOs4VSpmA" target="_blank" style = "text-decoration: none; color: white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color: white;">BOOK NOW</a></button>
					</div>
				</div>
				<div class="col-md-2 my-col">
					<div class = "poster-title">JOKER</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/t433PEQGErc" target="_blank" style = "text-decoration: none; color: white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color: white;">BOOK NOW</a></button>
					</div>
				</div>
			</div>
			<br>
			<div class="row my-row justify-content-between">
				<div class="col-md-2 my-col">
					<a href="descriptions/thelorax_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/thelorax_poster.jpg" alt="THE LORAX">
					</a>
				</div>
				<div class="col-md-2 my-col">
					<a href="descriptions/lifeofpi_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/lifeofpi_poster.jpg" alt="LIFE OF PI">
					</a>
				</div>
				<div class="col-md-2 my-col">
					<a href="descriptions/jumanji_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/jumanji_poster.jpg" alt="JUMANJI: WELCOME TO THE JUNGLE">
					</a>
				</div>
				<div class="col-md-2 my-col">
					<a href="descriptions/themeg_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/themeg_poster.jpg" alt="THE MEG">
					</a>
				</div>
				<div class="col-md-2 my-col">
					<a href="descriptions/avatar2_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/avatar2_poster.jpg" alt="AVATAR 2: THE WAY OF WATER">
					</a>
				</div>
			</div>
			<div class="row justify-content-between">
				<div class="col-md-2 my-col">
					<div class = "poster-title">THE LORAX</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/dNMBVVdrMKo" target="_blank" style = "text-decoration: none; color: white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color: white;">BOOK NOW</a></button>
					</div>
				</div>
				<div class="col-md-2 my-col">
					<div class = "poster-title">LIFE OF PI</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/3mMN693-F3U" target="_blank" style = "text-decoration: none; color: white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color: white;">BOOK NOW</a></button>
					</div>
				</div>
				<div class="col-md-2 my-col">
					<div class = "poster-title">JUMANJI: WELCOME TO THE JUNGLE</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/2QKg5SZ_35I" target="_blank" style = "text-decoration: none; color: white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color: white;">BOOK NOW</a></button>
					</div>
				</div>
				<div class="col-md-2 my-col">
					<div class = "poster-title">THE MEG</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/udm5jUA-2bs" target="_blank" style = "text-decoration: none; color: white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color: white;">BOOK NOW</a></button>
					</div>
				</div>
				<div class="col-md-2 my-col">
					<div class = "poster-title">AVATAR 2: THE WAY OF WATER</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/NZrX_ES93JA" target="_blank" style = "text-decoration: none; color: white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color: white;">BOOK NOW</a></button>
					</div>
				</div>
			</div>
		</div>
		<br><hr><br>
		<h2 class="header">COMING SOON...</h2>
		<br><hr><br>
		<div class="container-fluid my-container">
			<div class="row my-row  justify-content-between">
				<div class="col-md-2 my-col">
					<a href="descriptions/us_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/us_poster.jpg" alt="US">
					</a>
				</div>
				<div class="col-md-2 my-col">
					<a href="descriptions/morbius_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/morbius_poster.jpg" alt="MORBIUS">
					</a>
				</div>
				<div class="col-md-2 my-col">
					<a href="descriptions/pitchperfect_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/pitchperfect_poster.jpg" alt="PITCH PERFECT">
					</a>
				</div>
				<div class="col-md-2 my-col">
					<a href="descriptions/skyscraper_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/skyscraper_poster.jpg" alt="SKYSCRAPER">
					</a>
				</div>
				<div class="col-md-2 my-col">
					<a href="descriptions/dune_descriptions.html">
						<img class = "zoom" width="220px" height="320px" src="../../../../../Deliverable3_Team_B8/CES/posters/dune_poster.jpg" alt="DUNE">
					</a>
				</div>
			</div>
			<div class="row justify-content-between">
				<div class="col-md-2 my-col">
					<div class = "poster-title">US</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/hNCmb-4oXJA" target="_blank" style = "text-decoration: none; color: white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/us_description.html" style = "text-decoration: none; color: white;">MORE INFO</a></button>
					</div>
				</div>
				<div class="col-md-2 my-col">
					<div class = "poster-title">MORBIUS</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/SQK-QxxtE8Y" target="_blank" style = "text-decoration: none; color: white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color: white;">MORE INFO</a></button>
					</div>
				</div>
				<div class="col-md-2 my-col">
					<div class = "poster-title">PITCH PERFECT</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/8dItOM6eYXY" target="_blank" style = "text-decoration: none; color: white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color: white;">MORE INF0</a></button>
					</div>
				</div>
				<div class="col-md-2 my-col">
					<div class = "poster-title">SKYSCRAPER</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/t9QePUT-Yt8" target="_blank" style = "text-decoration: none; color: white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color: white;">MORE INFO</a></button>
					</div>
				</div>
				<div class="col-md-2 my-col">
					<div class = "poster-title">DUNE</div>
					<div class="buttonDiv">
						<button class="trailerbutton posterbutton"><a href="https://youtu.be/n9xhJrPXop4" target="_blank" style = "text-decoration: none; color: white;">EDIT</a></button>
						<button class="booknowbutton posterbutton"><a href="../../../../../Deliverable3_Team_B8/CES/descriptions/uncharted_descriptions.html" style = "text-decoration: none; color: white;">MORE INFO</a></button>
					</div>
			<br>
				</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
		<script src="assets/myScript.js"></script>
			</div>
	</body>
</html>