<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>B8-CINEMA</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
		<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
		<link rel="stylesheet" type= "text/css" th:href="@{/static/css/addMovies.css}" href="../static/css/addMovies.css">
	</head>
	
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a th:href="@{/admin/adminPage}" class="navbar-brand">B8-CINEMA</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarMenu">
				<form class="form-inline ml-lg-5">
					<input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button>
				</form>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a th:href="@{/admin/users}" class="nav-link" style = "margin-left: 35px">USERS</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/admin/manageMovies}" class="nav-link">MANAGE MOVIES</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/admin/promotions}" class="nav-link">PROMOTIONS</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="#" class="nav-link">ADMIN ACCOUNT</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/logout}" class="nav-link">LOGOUT</a>
					</li>
				</ul>
			</div>         
		</nav>
		
		<div class="container-fluid my-container">
			<div class="addmovies"><br>EDIT MOVIE</div>
			<br><hr><br>
		</div>
		<div class="container my-container">
			<form method="post" class = "movieForm" th:action="@{'/admin/editMovie/'+${movie.movieID}}" th:object="${movie}">
				<table>
					<tr>
						<td><label class ="formLabel" for="title">Movie Title:</label></td>
						<td><input type="text" th:field="*{title}" th:value="*{title}" id="title" name="title" value=""></td>
					</tr>
					<tr>
						<td><label class ="formLabel" for="cast">Cast:</label></td>
						<td><input type="text" th:field="*{cast}" th:value="*{cast}" id="cast"  name="cast" value=""></td>
					</tr>
					<tr>
						<td><label class ="formLabel" for="director">Director:</label></td>
						<td><input type="text" th:field="*{director}" th:value="*{director}" id="director" placeholder= "Enter Director" name="director" value=""></td>
					</tr>
					<tr>
						<td><label class ="formLabel" for="producer">Producer:</label></td>
						<td><input type="text" th:field="*{producer}" th:value="*{producer}" id="producer" placeholder= "Enter Producer" name="producer" value=""></td>
					</tr>
					<tr>
						<td><label class ="formLabel" for="description">Description:</label></td>
						<td><input type="text" th:field="*{synopsis}" th:value="*{synopsis}" id="description" placeholder= "Enter Description" name="description" value=""></td>
					</tr>
					<tr>
						<td><label class ="formLabel" for="review">Review:</label></td>
						<td><input type="text" th:field="*{review}" th:value="*{review}" id="review" placeholder= "Add Review" name="review" value=""></td>
					</tr>
					<tr>
						<td><label class ="formLabel" for="rating">Rating:</label></td>
						<td><input type="text" th:value="*{rating}" id="rating" placeholder= "Add Rating" name="rating" value=""></td>
					</tr>
					<tr>
						<td><label class ="formLabel" for="trailer">Trailer:</label></td>
						<td><input type="text" th:field="*{trailerVideo}" th:value="*{trailerVideo}" id="trailer" placeholder= "Add Trailer" name="trailer" value=""></td>
					</tr>
					<tr>
						<td><label class ="formLabel" for="image">Poster Image:</label></td>
						<td><input type="text" th:field="*{movieImage}" th:value="*{movieImage}" id="image" placeholder= "Add Movie Poster" name="image" value=""></td>
					</tr>
					<tr>
						<td><label class ="formLabel" for="category">Category:</label></td>
						<td><select type="drop" th:selected="${movie.category}" th:value="*{category}" th:field="*{category}" id="category" placeholder= "Select Category" name="category">
							<option th:value="Now-Showing" id="Now-Showing">Now Showing Movie</option>
							<option th:value="Coming-Soon" id="Coming-Soon">Coming Soon Movie</option>
						</td>
					</tr>
				</table>
				<div class="container my-container btn">
					<a style = "text-decoration: none; color: white;" th:href="@{/admin/manageMovies}">Cancel</a>
					<button type="submit" class = "submitButton"><a style = " font-size: 13px; text-decoration: none; color: white;" >Save</a></button>
				</div>
			</form>
			<br>
		</div>
		<div class="container-fluid my-container">
			<br><hr><br>
		</div>
		
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
		<script th:src="@{/static/js/myScript.js}"></script>
	</body>
</html>