body{
	/* background-image: url("background.jpg"); */
	background-color: #242333 !important;
}
.navbar-brand{
	background-image: linear-gradient(to right, #483D8B, #8FBC8F); 
	-webkit-background-clip: text;  
	font-stretch: ultra-expanded; 
	font-family:impact;
	font-size: 40px;
	color: transparent !important;
}
.navbar-brand:hover{
	opacity: 0.7;
}
.bg-dark{
	background-color: #222222 !important;
}
hr {
  background: linear-gradient(to right, #483D8B, #8FBC8F);
  height: 5px;
  width: 80%;
  border-radius: 50%;
}
.movielist{
	color: white;
	font-family: verdana;
	font-size: 25px;
	text-align: center;
	letter-spacing: 1.2px;
	font-weight: bold;
}
.movies{
	color: white;
	font-size: 20px;
	display: flex;
	justify-content: center;
	margin: auto;
	width: 100%;
}
.removeMovie{
	background: black;
	border-radius: 10px;
	float: right;
	color: white;
	padding: 10px 20px;
}
.removeMovie:hover{
	opacity: 0.5;
}
.addMovie{
	background: #8FBC8F;
	padding: 10px 20px;
	border-radius: 5px;
	justify-content: center;
	margin: auto;
	display: flex;
	align-items: center;
	font-weight: 600;
}
td{
	padding: 10px 100px;
}
.addMovie a{
	text-decoration: none;
	color: white;
}
.addMovie:hover{
	background: #6495ED;
}
/* table, th, td{
	border: 1px solid white;
} */