<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>B8-CINEMA</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
		<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
		<link rel="stylesheet" type= "text/css" href="assets/css/managemovies.css">
	</head>
	
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a href="AdminMainPage.html" class="navbar-brand">B8-CINEMA</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarMenu">
				<form class="form-inline ml-lg-5">
					<input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button>
				</form>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a href="../../../../../Deliverable3_Team_B8/CES/userpage.html" class="nav-link" style = "margin-left: 35px">USERS</a>
					</li>
					<li class="nav-item">
						<a href="managemovies.html" class="nav-link">MANAGE MOVIES</a>
					</li>
					<li class="nav-item">
						<a href="../../../../../Deliverable3_Team_B8/CES/promotions.html" class="nav-link">PROMOTIONS</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="#" class="nav-link">ADMIN ACCOUNT</a>
					</li>
					<li class="nav-item">
						<a href="Cinema.html" class="nav-link">LOGOUT</a>
					</li>
				</ul>
			</div>         
		</nav>
		<div class="container-fluid my-container">
			<div class="movielist"><br>MOVIE LIST</div>
			<br><hr><br>
		</div>
		<div class="container my-container">
			<table class = "movies">
				<tr>
					<th style="text-align: center; padding: 20px" colspan="2"><b><u>NOW SHOWING MOVIES</u></b></th>
				</tr>
				<tr>
					<td>Uncharted</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</a></button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<td>Brave</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</a></button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<td>The Batman: Unmask the truth</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</a></button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<td>SpiderMan: No Way Home</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</a></button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<td>Joker</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</a></button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<td>The Lorax</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</a></button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<td>Life of Pi</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</a></button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<td>Jumanji: Welcome to the Jungle</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<td>The Meg</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<td>Avatar 2: The Way of Water</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<th style="text-align: center; padding: 20px" colspan="2"><b><u>COMING SOON MOVIES</u></b></th>
				</tr>
				<tr>
					<td>Us</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<td>Morbius</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<td>Pitch Perfect</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<td>Skyscraper</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
				<tr>
					<td>Dune</td>
					<td><button class = "removeMovie"><a href= "editmovie.html">Edit</button></td>
					<td><button class = "removeMovie">Remove</button></td>
				</tr>
			</table>
			<br>
			<button class="addMovie"><a href= "addmovies.html">ADD MOVIE</a></button><br>
			<button class="addMovie"><a href= "../../../../../Deliverable3_Team_B8/CES/scheduleMovies.html">SCHEDULE MOVIE</a></button>
		</div>
		<div class="container-fluid my-container">
			<br><hr><br>
		</div>
		
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
		<script src="../../../../../Deliverable3_Team_B8/CES/myScript.js"></script>
	</body>
</html>