<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>B8-CINEMA</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
		<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
		<link rel="stylesheet" type= "text/css" th:href="@{/static/css/userpa.css}">
	</head>
	
	<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a th:href="@{/user/customerPage}" class="navbar-brand">B8-CINEMA</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarMenu">
			<form method="post" class="form-inline ml-lg-5" th:action="@{/user/search}">
				<input th:field="${searchedmovie.title}" class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
				<div style="padding: 1rem; align-content: start;">
					<div class="form-check">
						<input required th:field="${searchedmovie.category}" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
						<label class="form-check-label" for="exampleRadios1" style="color: whitesmoke;">
							Title
						</label>
					</div>
					<div class="form-check">
						<input th:field="${searchedmovie.category}" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
						<label class="form-check-label" for="exampleRadios2" style="color: whitesmoke;">
							Genre
						</label>
					</div>
				</div>
				<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button>
			</form>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a th:href="@{/user/account}" class="nav-link"><i class="fas fa-user" style="margin-right: 10px"></i>ACCOUNT</a>
				</li>
				<li class="nav-item">
					<a th:href="@{/logout}" class="nav-link">LOGOUT</a>
				</li>
			</ul>
		</div>
	</nav>
	<head>
		<title>Order History</title>
	</head>
	<body>
		<div class="container-fluid my-container admin">
			<br>
			Order History
			<br><hr><br>
		</div>
		<div class="container-fluid my-container">
            <!DOCTYPE html>
		<table>
		<thead>
			<tr>
				<th>Booking ID</th>
				<th>Movie</th>
				<th>Show Time & Date</th>
				<th>Promotion</th>
				<th>Tickets   </th>
				<th>Seats   </th>
				<th>Cardholder Name</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="booking : ${bookings}">
				<td th:text="${booking.bookingID}"></td>
				<td th:text="${booking.show.movie.title}"></td>
				<td th:text="${booking.show.time+':00 pm, '+ booking.show.date}"></td>
				<td th:text="${booking.promotions.code}"></td>
<!--				<div th:each="ticket, stat : ${booking.tickets}">-->
					<td>
						<div th:each="ticket, stat : ${booking.tickets}">
							<p th:text="${ticket.type.type +'  '}"></p>
						</div>
					</td>
					<td>
						<div th:each="ticket, stat : ${booking.tickets}">
							<p th:text="${ticket.seat.seatNO+ '  '}"></p>
						</div>
					</td>
<!--				</div>-->
				<td th:text="${booking.paymentCards.cardholderName}"></td>
				<td th:text="${booking.finalTotal}"></td>
			</tr>
		</tbody>
	</table>
			<button type="submit" class="deletebutton posterbutton"><a th:href="@{/user/account}">Back</a></button>


		</div>
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
		<script th:src="@{/static/js/myScript.js}"></script>
	</body>
</html>