<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>B8-CINEMA</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
		<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
		<link rel="stylesheet" type= "text/css" href="assets/css/promotions.css">
	</head>
	
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a href="AdminMainPage.html" class="navbar-brand">B8-CINEMA</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarMenu">
				<form class="form-inline ml-lg-5">
					<input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button>
				</form>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a href="userpage.html" class="nav-link" style = "margin-left: 35px">USERS</a>
					</li>
					<li class="nav-item">
						<a href="managemovies.html" class="nav-link">MANAGE MOVIES</a>
					</li>
					<li class="nav-item">
						<a href="promotions.html" class="nav-link">PROMOTIONS</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="#" class="nav-link">ADMIN ACCOUNT</a>
					</li>
					<li class="nav-item">
						<a href="Cinema.html" class="nav-link">LOGOUT</a>
					</li>
				</ul>
			</div>         
		</nav>
		<div class="container-fluid my-container">
			<div class="promotionTitle"><br>AVAILABLE PROMOTIONS</div>
			<br><hr><br>
		</div>
		<div class="container my-container">
			<table class = "movies">
				<tr>
					<td>Fall Special</td>
					<td><button class = "editPromotion">Edit</button></td>
					<td><button class = "removePromotion">Remove</button></td>
				</tr>
				<tr>
					<td>Halloween Treat</td>
					<td><button class = "editPromotion">Edit</button></td>
					<td><button class = "removePromotion">Remove</button></td>
				</tr>
				<tr>
					<td>Seasonal Promotion</td>
					<td><button class = "editPromotion">Edit</button></td>
					<td><button class = "removePromotion">Remove</button></td>
				</tr>
			</table>
			<br>
		</div>
		<div class="container-fluid my-container">
			<br><hr><br>
		</div>
		<div>
			<button class="addPromotions">ADD NEW PROMOTION</button>
		</div>
		<br>
		<div class="container my-container">
			<form class = "movieForm" action="promotions.html">
				<table>
					<tr>
						<td><label class ="formLabel" for="pname">Promotion Name</label></td>
						<td><input type="text" id="pname" placeholder= "Enter Promo Name" name="pname" value=""></td>
					</tr>
					<tr>
						<td><label class ="formLabel" for="code">Promo Code:</label></td>
						<td><input type="text" id="code" placeholder= "Promo Code" name="code" value=""></td>
					</tr>
					<tr>
						<td><label class ="formLabel" for="discount">Discount:</label></td>
						<td><input type="number" id="discount" placeholder= "Enter Discount(%)" name="discount" value=""></td>
					</tr>
					<tr>
						<td><input class = "button" type="submit" value="Cancel"></td>
						<td style = "text-align: center; justify-content: center; display:flex;"><input class = "button" type="submit" value="Add"></td>
					</tr>
				</table>
			</form> 
		</div>
		<div class="container-fluid my-container">
			<br><hr><br>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
		<script src="assets/myScript.js"></script>
	</body>
</html>