<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>B8-CINEMA</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
		<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
		<link rel="stylesheet" type= "text/css" href="../static/css/userpa.css">
	</head>
	
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a th:href="@{/admin/adminPage}" class="navbar-brand">B8-CINEMA</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarMenu">
				<form class="form-inline ml-lg-5">
					<input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button>
				</form>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a th:href="@{/admin/users}" class="nav-link" style = "margin-left: 35px">USERS</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/admin/manageMovies}" class="nav-link">MANAGE MOVIES</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/admin/promotions}" class="nav-link">PROMOTIONS</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="#" class="nav-link">ADMIN ACCOUNT</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/logout}" class="nav-link">LOGOUT</a>
					</li>
				</ul>
			</div>         
		</nav>
		<div class="container-fluid my-container admin">
			<br>
			Manage Users
			<br><hr><br>
		</div>
		<div class="container-fluid my-container">
            <!DOCTYPE html>
<head>
	<title>Manage Users | Admin Panel</title>
</head>
<body>
	<div th:if="${param.error}" class="alert alert-success">
		Failed to save user.
	</div>
	<div th:if="${param.success}" class="alert alert-success">
		User saved successfully!
	</div>
		<table>
		<thead>
			<tr>
				<th>User ID</th>
				<th>Role</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Address</th>
				<th>Phone Number</th>
				<th>Promo Opt-in</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.userID}"></td>
				<td th:text="${user.userType}"></td>
				<td th:text="${user.firstName}"></td>
				<td th:text="${user.lastName}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.address}"></td>
				<td th:text="${user.phoneNumber}"></td>
				<td th:text="${user.optInPromo}"></td>
				<td>
					<button class="editbutton posterbutton"><a th:href="@{'/admin/editUser/'+${user.userID}}">EDIT</a></button>
					<form method="post" th:action="@{'/admin/deleteUser/'+${user.userID}}">
						<button type="submit" class="deletebutton posterbutton">DELETE</button>
					</form>
				</td>
			</tr>
			<!-- more rows for additional users -->
		</tbody>
	</table>
	<button><a  th:href="@{/admin/addAdmin}">Add Admin</a></button>
			<table>
				<tr>
					<!--td>USERS</td-->
					<!--td><a href="managemovies.html" style = "color: white; text-decoration: none;">MANAGE MOVIES</a></td-->
					<!--td><a href="promotions.html" style = "color: white; text-decoration: none;">MANAGE PROMOTIONS</td-->
				</tr>
			</table>
		</div>
		
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
		<script th:src="@{/static/js/myScript.js}"></script>
	</body>
</html>