<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>B8-CINEMA</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
		<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
		<link rel="stylesheet" type= "text/css" th:href="@{assets/css/Registration.css}">
	</head>
	
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a th:href="@{/user/customerPage}" class="navbar-brand">B8-CINEMA</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarMenu">
				<form class="form-inline ml-lg-5">
					<input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light my-2" type="submit"><i class="fas fa-search"></i></button>
				</form>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a th:href="@{/user/account}" class="nav-link"><i class="fas fa-user" style="margin-right: 10px"></i>ACCOUNT</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/logout}" class="nav-link">LOGOUT</a>
					</li>
				</ul>
			</div>         
		</nav>
	<div class="container-fluid my-container">
			<div class="title"><br>USER ACCOUNT DETAILS</div>
			<br><hr><br>
	</div>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form th:object="${user}" th:action="@{/user/editInfo}">
          <!-- Email input -->
          <div class="form-group required mb-4">
			  <label class="form-check-label" ><b>First Name</b></label>
            <input id="firstName" type="text" readonly th:placeholder="*{firstName}"  class="form-control required form-control-lg" />

          </div>

          <!-- Password input -->
          <div class="form-group  mb-4">
			  <label class="form-check-label" ><b>Last Name</b></label>
			  <input id="lastName" type="text" readonly th:placeholder="*{lastName}" class="form-control form-control-lg" />

          </div>

		    <div class="form-group mb-4">
			  <label class="form-check-label" ><b>email</b></label>
            <input id="dob" type="text" readonly th:placeholder="*{email}" class="form-control required form-control-lg" />

          </div>

			<div class="form-group mb-4">
			  <label class="form-check-label" ><b>Phone Number</b></label>
            <input id="phone" type="text" readonly th:placeholder="*{phoneNumber}" class="form-control required form-control-lg" />

          </div>



          <button type="submit" class="btn btn-primary btn-lg btn-block "><a style="text-decoration: none; color:white;"  th:href="@{/user/editInfo}">Edit profile</a></button>


        </form>
      </div>
    </div>
  </div>
</section>
	</body>
</html>